<div class="panel header" style="border-radius: 0">
  <div>
    <!--Move to Index!-->
    <!--<span>-->
      <!--<input-->
        <!--placeholder="Filter by Container name"-->
        <!--ng-model="nameFilter"-->
        <!--ng-minlength="2"-->
        <!--ng-change="resetMaxItems()" type="search"/>-->
    <!--</span>-->
    <span class="button small" ng-click="addContainer()" ng-disabled="!adminMode">New Container</span>
    <span class="button small center success" dump-dialog>Dump!</span>
    <span class="button small right" ng-click="toggleMode()">{{ modeText }}</span>
  </div>
  <div class="left">
    <input
      type="checkbox"
      ng-model="dirtyOnly"/>
    <label>Hide clean containers</label>
    <input
      type="checkbox"
      ng-model="showIndex">
    <label>Show Index</label>
  </div>
  <div class="right" i18n-stats="stats.total"/>
</div>

<div containers/>
