<table ng-class="statusClass" style="width: 100%">
  <tr>
    <td style="width: 5%">
      <strong>{{ trsl.lang }}</strong>
    </td>
    <td style="width: 94%">
      <textarea
        class="blind"
        style="width: 100%; resize: vertical"
        ng-change="trackChange()"
        placeholder="Enter a translation..."
        ng-model="trsl.translation"/>
    </td>
    <td style="width: 3%; vertical-align: middle">
      <i class="fa fa-{{ toggleIcon }} clickable" ng-click="toggleStatus()"></i>
    </td>
  </tr>
</table>
